<html lang="en">

   <%- include header %>
     <%- include left_sidebar %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron col-sm-9" id="mainform">
            <div id="signupbox" style=" margin-top:5px" class="mainbox">
                                                           
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Edit Chapter</div>
                        </div> 
                        <div class="panel-body" >
							<form class="form-horizontal" role="form" action="" method="post" class="form-horizontal">
							
							<div class="form-group">
                                    <label for="chapter_name" class="col-md-3 control-label">Title</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="chapter_title" placeholder="Chapter title" value="<%= data[0].chapter_title%>"  required="" type="text">
                                    </div>
                                </div>
							<div class="form-group">
                                    <label for="chapter_sub" class="col-md-3 control-label">Subtitle</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="chapter_sub" placeholder="Sub title" value="<%= data[0].chapter_sub%>" required="" type="text">
                                    </div>
                                </div>
							<div class="form-group">
                                    <label for="chapter_link" class="col-md-3 control-label">Video Link</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="chapter_link" placeholder="Link" value="<%= data[0].chapter_link%>" required="" type="text">
                                    </div>
                                </div>								
							<div class="form-group">
                                    <label for="chapter_des" class="col-md-3 control-label">Description</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" name="chapter_des"><%= data[0].chapter_des%></textarea>
                                    </div>
                                </div>
						<div class="form-group">
                                    <!-- Button -->                                       
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp; Submit</button>
                                        
                                    </div>
                                </div>	
							</form>
                         </div>
                    </div>
              
                
         </div>
      </div>
    <%- include footer %>