<html lang="en">

<% include ./partials/headerMain.ejs%>
     <%- include left_sidebar %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron col-sm-9" id="mainform">
            <div id="signupbox" style="" class="">
                                                           
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Quiz</div>
 <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" class="show_hide" href="">Add new question</a></div>
                        </div> 
                        <div class="panel-body">
						
						<% if (quiz_message.length > 0){ %>
						<div class="alert alert-success col-sm-12"><%= quiz_message %></div>
						<% } %>
						
							<div id="show_ss"style="border-bottom:1px solid #999;display:none" class="panel-body">
							<form class="form-horizontal" role="form" action="" method="post" class="form-horizontal">
							
							<div class="form-group">
                                    <label for="que" class="col-md-3 control-label">Question</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="que" placeholder="enter question" required="" type="text">
                                    </div>
                                </div>
							<div class="form-group">
                                    <label for="ans_1" class="col-md-3 control-label">option 1</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="ans_1" placeholder="enter option 1" required="" type="text"><input type="radio" name="correct_ans" value="ans_1" required />
                                    </div>
                                </div>
							<div class="form-group">
                                    <label for="ans_2" class="col-md-3 control-label">option 2</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="ans_2" placeholder="enter option 2" required="" type="text"><input type="radio" name="correct_ans" value="ans_2" required />
                                    </div>
                                </div>
							<div class="form-group">
                                    <label for="ans_3" class="col-md-3 control-label">option 3</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="ans_3" placeholder="enter option 3" required="" type="text"><input type="radio" name="correct_ans" value="ans_3" required />
                                    </div>
                                </div>								
							<div class="form-group">
                                    <label for="ans_4" class="col-md-3 control-label">option 4</label>
                                    <div class="col-md-8">
                                        <input class="form-control" name="ans_4" placeholder="enter option 4" required="" type="text"><input type="radio" name="correct_ans" value="ans_4" required />
                                    </div>
                                </div>
						<div class="form-group">
                                    <!-- Button -->                                       
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp; Submit</button>
                                        
                                    </div>
                                </div>	
							</form>
							</div>	
							
<div class="faq_section">
<h3 class="custom_title">Quiz</h3>
<p>des</p>

<% if (message.length > 0){ %> 
<div class=""><%= message %></div> 
<% } %> 
<% 
var i =1;
data.forEach(function(ind){ %>

<div class="faq_outer"><div class="faq_question"><h4><%=ind.que%> <span style="float:right; font-size: 85%; position: relative; top:-10px;z-index:999;"> <a  href="/edit_question/<%=ind.quiz_id%>"> Edit </a><form action="/delete_question/<%=ind.quiz_id%>" method="post"><input name="quiz_id" value="<%=ind.quiz_id%>" type="hidden"><button class="btn btn-info" type="submit" value="Delete" name="delete">Delete</button></form></span></h4></div>
<div class="faq_answer"> <li><%=ind.ans_1%></li> <li><%=ind.ans_2%></li><li><%=ind.ans_3%></li><li><%=ind.ans_4%></li><div>ANS :<% if( ind.correct_ans == "ans_1"){%> <%=ind.ans_1%> <% }else if( ind.correct_ans == "ans_2"){%> <%=ind.ans_2%> <% }else if( ind.correct_ans == "ans_3"){%> <%=ind.ans_3%> <% }if( ind.correct_ans == "ans_4"){%> <%=ind.ans_4%> <% } %></div></div></div>

<% i++ }) %>	

</div>	


	<script type="text/javascript">
	    jQuery('.faq_outer .faq_question').click(function(){
jQuery(this).parents('.faq_outer').toggleClass('faq_open');
jQuery('.faq_outer').not(jQuery(this).parents('.faq_outer')).removeClass('faq_open');
});
	   jQuery('.show_hide').click(function(){
	   jQuery('#show_ss').slideToggle('bottom');
	   return false;
	   });
	</script>
	
<table width="100%" style="display:none">
<tr>
<th>Sr no.</th>
<th>Course Title</th>
<th>Chapter Title</th>
<th>Description</th>
<th>Action</th>
</tr>
<% 
var i =1;
data.forEach(function(ind){ %>	
<tr>
<td><%=i%></td>
<td><%=ind.course_title%></td>
<td><%=ind.chapter_title%></td>
<td><%=ind.chapter_des%></td>
<td><a href="#" >View chapter </a></td>
</tr>
	<% i++ }) %>
</table>
                         </div>
                    </div>
              
                
         </div>
      </div>
