<h1 style="margin-top: 35px"><b>Forum Discussion</b></h1>
<br>
<div class="row">

    <div class="" id="messages" style="width: 60%;height: auto"></div>

    <div class="" id="questionList">


        <!------------Section for a specific question--------->
        {{#each question}}
            <h2><b>Question</b></h2> <h4>{{question}}</h4>
            <span hidden id="questionId">{{id}}</span>

        {{/each}}


        <h3 style="margin-top: 35px"><b>Comments</b></h3>
        <br>

        {{#each comments}}
            <span id="vote_{{id}}">{{votes}}</span>
            <button onclick="addVote({{id}})">+</button>
            .{{comment}}
            <br>
            .. Submitted By: {{user_id}}

            <br>
            <br>
        {{/each}}

        <div class="well" style="position:fixed;right:100px;top:35%; ">

            <form>

                <div class="form-group">
                    <label for="comments">Your comment</label>
                    <textarea class="form-control" name="comment" id="comment" rows="3" required></textarea>
                </div>
                <button type="button" onclick="addComment()" name="create_comments" class="btn btn-primary">Submit
                </button>
            </form>

            <!--<form method="post" action="/forum/addComment">-->

            <!--<div class="form-group">-->
            <!--<label for="comments">Your comment</label>-->
            <!--<textarea class="form-control" name="comment" id="comment" rows="3" required></textarea>-->
            <!--</div>-->

            <!--<div data-element=" "></div>-->

            <!--<button type="submit" name="create_comments" class="btn btn-primary">Submit</button>-->

            <!--</form>-->

        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>

    $(function () {

        var socket = io();
        socket.on('update_Vote', function (msg) {
            document.getElementById("vote_" + msg.commentID).innerText = msg.votes;
        });
    });

    function addComment() {
        var data = "comment=" + document.getElementById("comment").value +
                "&id=" + document.getElementById("questionId").innerText;

        $.post("/forum/addComment", data)
                .done(function (data) {

                    window.location.href = data;
                });
    }

    function addVote(id) {
        var socket = io();


        var data = "commentid=" + id;


        $.post("/forum/comment/upvote", data)
                .done(function (result) {

                    if (result.status == "Successful") {

                        var votes = parseFloat(document.getElementById("vote_" + id).innerText) + 1;

                        socket.emit('update_Vote', {"commentID": id, "votes": votes});
                    } else {
                        alert("You have already voted on the comment");
                    }
                });
    }
</script>

